<h1>Login</h1>
<div class="centerUtil">
    <form method="post" action="/users/registration">
        <div class="marginBottomSmallUtil">
            <input type="email" name="email" id="email" class="registerInput" placeholder="myname@example.com" required>
            <label for="email">Email</label>
        </div>
        <div class="marginBottomSmallUtil">
            <input type="password" name="password" id="password" class="registerInput " required>
            <label for="password">Password</label>
        </div>
        <div class="marginBottomSmallUtil">
            <input type="password" name="confirmPassword" id="confirmPassword" class="registerInput" required>
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <input type="submit" class="btn btn-success" value="Register">
    </form>
</div>