<h1>Register</h1>
<div class="centerUtil">
    <form action="">
        <div>
        </div>
        <input type="email" name="email" id="email">
</div>
<div>
    <input type="password" name="password" id="password">
    <label for="password">Password</label>
</div>
<div>
    <input type="password" name="confirmPassword" id="confirmPassword">
    <label for="confirmPassword">Password</label>
</div>
</form>
</div>