<h1>Register</h1>
<div class="centerUtil">
    <form method="post" action="/users/register">
        <div>
            {{#if errors}}
            <ul>
                {{#each errors}}
                <li class="alert">{{this.msg}}</li>
                {{/each}}
            </ul>
            {{/if}}

        </div>
        <div class="marginBottomSmallUtil">
            <input type="email" name="email" id="email" class="registerInput" placeholder="myname@example.com">
            <label for="email">Email</label>
        </div>
        <div class="marginBottomSmallUtil">
            <input type="password" name="password" id="password" class="registerInput " required>
            <label for="password">Password</label>
        </div>
        <div class="marginBottomSmallUtil">
            <input type="password" name="confirmPassword" id="confirmPassword" class="registerInput" required>
            <label for="confirmPassword">Confirm Password</label>
        </div>
        <div class="marginBottomSmallUtil">
            <input type="file" name="picture" id="picture" class="registerInput">
            <label for="picture">Upload Photo</label>
        </div>
        <input type="submit" class="btn btn-success" value="Register">
    </form>
</div>