.centerUtil {
  position: absolute;
  top: 20%;
  left: 25%;
  border: 0.5px solid rgb(185, 182, 182);
  padding: 100px;
}
.marginBottomSmallUtil {
  margin-bottom: 20px;
}
.registerInput {
  width: 20rem;
}
